:root {
  --background: #fff;
  --main-text-color: #081b33;
  --blue: #006ebb;
  --light-gray: rgba(8, 27, 51, 0.3);
  --header-bg: var(--background);
  --vertical-spacing: 100px;
  --horizontal-spacing: 8vw;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', "Arial", sans-serif;
  font-size: calc(100% + 0.4vw);
  color: var(--main-text-color);;
}

body {
  background: var(--background);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: 100vh;
}

.route-container {
  overflow-x: hidden;
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
}

.container {
  padding-left: var(--horizontal-spacing);
  padding-right: var(--horizontal-spacing);
}

.content-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-card-border-top {
  border-top: 1px solid var(--light-gray);
}

.flex-card-border-top--title {
  margin-top: 1em;
  margin-bottom: 1em;
}

.flex-card-border-top--text {
  margin-top: 0;
  margin-bottom: 1em;
}

.flex--justify-left {
  justify-content: flex-start;
}

.flex--justify-right {
  justify-content: flex-end;
}

.flex--justify-center {
  justify-content: center;
  text-align: center;
}

.flex-col--100w {
  width: 100%;
}

.flex-col--50w {
  width: 50%;
}

.flex-col--40w {
  width: 40%;
}

.flex-col--30w {
  width: 30%;
}

.flex-margin-left--10w {
  margin-left: 10%;
}

.flex-margin-left--3w {
  margin-left: 3%;
}

.flex-col h2 {
  margin-top: 0;
}

.flex-col a {
  width: min-content;
}

.blue-text {
  color: var(--blue);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.text-link::after {
  content: " >>";
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.force-flex-align-center {
  flex-direction: row !important;
  justify-content: center !important;
}

.spacer-top {
  margin-top: var(--vertical-spacing);
}

.spacer-bottom {
  margin-bottom: var(--vertical-spacing);
}

.full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
}

.full-container-width {
  position: relative;
  left: -1%;
  max-width: 102%;
  width: 102%;
  height: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Calluna-Regular, "Georgia", sans-serif;
}

h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.3rem;
  letter-spacing: -.015em;
}

p,
ul {
  color: var(--main-text-color);
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

a button,
a input[type="submit"] {
  font-weight: 500;
  font-size: .7rem;
  -webkit-appearance: none;
  padding: 1.5em 2.5em;
  background-color: var(--main-text-color);

  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
  appearance: none;
  line-height: normal;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .05em;
  border-color: #081b33;
  border-width: 2px;
  border-style: solid;
  color: white;
  margin-top: 1em;
  transition: background-color 0.3s, color 0.7s;
}

a button:hover,
a input[type="submit"]:hover {
  outline: 1px solid black;
  background: transparent;
  color: var(--main-text-color);
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

.light-gray {
  color: var(--light-gray);
}

.border-top {
  border-top: 1px solid var(--light-gray);
}

.border-bottom {
  border-bottom: 1px solid var(--light-gray);
}

img.zoom-hover-fx,
.zoom-hover-fx img {
  transition: transform 1s ease-in-out;
}

img.zoom-hover-fx:hover,
.zoom-hover-fx:hover img {
  transform: scale(1.04);
  transform-origin: 50% 50%;
}

.start-hidden {
  opacity: 0;
}

.initial-grow-fx {
  transition: opacity 1.5s, transform 1.8s;
  opacity: 1;
  transform: scale(1.06);
  transform-origin: 50% 50%;
}


::selection {
  color: white;
  background-color: var(--blue);
}

.no-select {
  user-select: none;
}

.graphique-clients {
  max-width: 100%;
  height: auto;
}

.card {
  padding: 30px 35px 15px 35px;
  min-height: 360px;
  box-shadow: 1px 2px 7px rgba(0, 8, 27, 0.15);
  transition: all .2s;
}

.card:hover {
  box-shadow: 1px 1px 5px rgba(0, 8, 27, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .content-block {
    flex-direction: column;
  }

  .flex-col {
    width: 100%;
    flex-basis: 100%;
  }

  .flex-col.flex-col--40w {
    width: 100%;
    margin: var(--vertical-spacing) 0 0 0;
  }

  .flex-col.flex-col--30w:not(:first-of-type) {
    width: 100%;
    margin: calc(var(--vertical-spacing) / 2) 0 0 0;
  }

  .flex-row {
    margin-top: 0;
  }
}


@media (max-width: 775px) {

  .spacer {
    margin-top: 50px;
  }

  img.initial-grow-fx {
    transform: scale(1.055);
  }

  img.zoom-hover-fx:hover {
    transform: scale(1.1);
  }

  a button {
    padding: 1.5em 2.25em;
  }
}

@media (max-width: 330px) {
  .contactez-nous {
    font-size: 16px;
  }

  .card {
    padding: 20px 15px 0 15px;
  }
}