.top-bar--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  height: max-content;
  padding-top: 2px;
  padding-bottom: 6px;
  cursor: pointer;
  background-color: #f10606;
}

.top-bar--text {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.top-bar--close {
  display: none;
  padding-top: 1px;
  fill: var(--background);
  width: .5rem;
  height: auto;
}


.top-bar--container:hover .top-bar--close {
  display: unset;
}
