.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg);

  margin: 57px 0;

  user-select: none;
  z-index: 2;
}

.header .branding {
  margin-right: 40px;
}

.header .branding-logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 70px;
  min-width: 180px;
  outline: none;
}

.header nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-inline-start: 30px;
}

.header nav li {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-left: 1em;
  margin-bottom: 10px;
}

.header nav li a {
  color: rgba(8, 27, 51, .8);
}


.header nav li a#link-rendez-vous {
  color: var(--blue);
  font-weight: 300;
  font-size: 1.35em;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.header nav li a#link-rendez-vous:hover {
  color: var(--main-text-color);
}

.header nav li a#link-rendez-vous:hover svg {
  fill: var(--main-text-color);
}


.header nav li a#link-rendez-vous svg {
  width: auto;
  height: 1em;
  margin-right: 7px;
  fill: var(--blue);
}

.header nav .toggle-mobile-menu-btn, .header nav .toggle-mobile-menu-btn--close {
  display: none;
}

.header:not(.isMobileMenuOpen) nav ul a:hover,
.header:not(.isMobileMenuOpen) nav ul a:active,
.header:not(.isMobileMenuOpen) nav ul a.active {
  color: var(--blue);
}

.header:not(.isMobileMenuOpen) nav ul a.active {
  border-bottom: 1px solid var(--blue);
}

/*small width screen styles*/
@media (max-width: 1260px) {
  .header .branding-logo {
    min-width: 340px;
  }
}

@media (max-width: 975px) {
  .header nav ul {
    padding-inline-start: 0;
  }
}

@media (max-width: 940px) {
  .header {
    padding: 6vw;
    margin: 0;
  }

  .header.isMobileMenuOpen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .header nav button.toggle-mobile-menu-btn {
    display: block;
    border: none;
    background: none;
    padding: 0;
    outline: none;

    width: auto;
    height: auto;
    max-width: 38px;
    max-height: 38px;
    min-width: 23px;
    min-height: 23px;
  }

  .header nav .toggle-mobile-menu-btn:hover {
    cursor: pointer;
  }

  .header nav .toggle-mobile-menu-btn svg {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit;
    fill: rgba(8, 27, 51, .6);
  }

  .header:not(.isMobileMenuOpen) nav svg.toggle-mobile-menu-btn--open {
    display: flex;
  }

  .header.isMobileMenuOpen nav svg.toggle-mobile-menu-btn--open {
    display: none;
  }

  .header:not(.isMobileMenuOpen) nav svg.toggle-mobile-menu-btn--close {
    display: none;
  }

  .header.isMobileMenuOpen nav svg.toggle-mobile-menu-btn--close {
    display: block;
  }

  .header nav ul {
    display: none;
  }

  .header.isMobileMenuOpen nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: var(--header-h);
    right: 0;
    width: 100%;
    height: calc(100% - var(--header-h));
    min-height: 250px;
    background-color: rgba(15, 15, 15, .985);
    box-shadow: 0 10px 50px rgba(0, 0, 0, .85);
    overflow-y: auto;
  }

  .header.isMobileMenuOpen nav ul li a {
    display: block;
    width: 220px;
    padding: 15px 0;
    margin: 20px 40px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #444;
    box-shadow: 2px 3px 7px #000;
  }

  .header.isMobileMenuOpen nav ul li a:hover,
  .header.isMobileMenuOpen nav ul li a:focus {
    border-color: #777;
    cursor: pointer;
  }

  .header.isMobileMenuOpen nav a.active {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .header .branding-logo {
    min-width: 180px;
  }

}
