.contactez-nous p {
  margin-top: calc(2.1rem * 0.83 + 18px);
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.info-item svg {
  margin-top: 5px;
  margin-right: 8px;
}