.banner-container {
  position: relative;

  width: 100vw;
  min-width: 800px;
  max-width: 2000px;

  height: auto;
  max-height: 470px;
  /*min-height is dynamic for with and without image*/

  overflow: hidden;
  cursor: default;
}

.banner-container.has-image {
  background-color: var(--main-text-color);
  min-height: 450px;
}

.banner-container:not(.has-image) {
  min-height: 265px;
  background-color: transparent;
}

.banner-container:not(.has-image) .banner-text--container {
  justify-content: flex-start;
}

.banner-container.has-image h1.banner-text--page-description {
  color: white;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, .1);
}

.banner-container:not(.has-image) h1.banner-text--page-description {
  text-shadow: none;
  color: var(--main-text-color);
}

.banner-container.has-image h3.banner-text--page-title {
  text-shadow: 4px 2px 1px rgba(0, 0, 0, .07);
  filter: brightness(168%);
}

.banner-container:not(.has-image) h3.banner-text--page-title {
  text-shadow: none;
}

.banner-container.has-image .banner-image,
.banner-text--container {
  position: absolute;
}

.banner-container.has-image .banner-image {
  width: inherit;
  height: inherit;
  min-width: inherit;
  min-height: inherit;
  max-width: inherit;
  max-height: inherit;

  object-fit: cover;
  object-position: right 11%; /*focus on hands as much as possible*/

  opacity: 0.964 !important;
}

.banner-text--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 100%;
}

h1.banner-text--page-description {
  text-align: center;
  width: 45%;
  min-width: 250px;
  font-size: 2.56em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
  margin: 0 auto;
  line-height: 1em;
}

h3.banner-text--page-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .14em;
  text-transform: uppercase;
  margin-bottom: 24px;
  color: var(--blue);
}

@media (max-width: 1245px) {
  h1.banner-text--page-description {
    font-size: 2.2em;
  }
}

@media (max-width: 1000px) {
  h2.banner-text--page-title {
    font-size: 14px;
  }
  .banner-container:not(.has-image) .banner-text--container {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  h2.banner-text--page-title {
    font-size: 13px;
  }
  .banner-container:not(.has-image) .banner-text--container {
    justify-content: flex-end;
  }
}